body {
  font-family: "微软雅黑";
  font-size: 15px;
  background-color: #f4f4f4;
  padding-top: 45px;
  font-size: 14px;
}
menu,
h2,
p,
ul,
li {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #000000;
}
ul,
li {
  list-style-type: none;
}
/***
 * flex布局
 */
.flex-css {
  display: -moz-box;
  display: -webkit-box;
  display: box;
  display: flex;
}
/***
 * 圆角50%
 */
.radius-50 {
  border-radius: 50%;
  -moz-border-radius: 50%;
}
/***
 * 动画快到慢效果
 */
/***
 * 轮播
 */
.swiper-container {
  width: 100%;
  height: 165px;
}
.swiper-container .swiper-wrapper .shuffling {
  height: 165px;
  width: 100%;
  background-size: cover!important;
}
.swiper-container .swiper-wrapper .shuffling:nth-child(1) {
  background: url(../img/banner1.jpg) no-repeat 50% 50%;
}
.swiper-container .swiper-wrapper .shuffling:nth-child(2) {
  background: url(../img/banner2.png) no-repeat 50% 50%;
}
.swiper-container .swiper-wrapper .shuffling:nth-child(3) {
  background: url(../img/banner3.png) no-repeat 50% 50%;
}
.swiper-container .swiper-wrapper .shuffling:nth-child(4) {
  background: url(../img/banner4.jpg) no-repeat 50% 50%;
}
/***
 * 头部
 */
.public-header,
.public-header-2 {
  width: 100%;
  height: 45px;
  line-height: 45px;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  z-index: 13;
  box-shadow: 0px 0px 7px #888888;
}
.public-header .catalogue,
.public-header-2 .catalogue,
.public-header .search,
.public-header-2 .search,
.public-header .search-button,
.public-header-2 .search-button,
.public-header .return-goto,
.public-header-2 .return-goto {
  flex: 44px 0 0;
  text-align: center;
  line-height: 45px;
  font-size: 20px;
}
.public-header .header-title,
.public-header-2 .header-title,
.public-header .header-input,
.public-header-2 .header-input {
  flex: 1 0 0;
  text-align: center;
}
.public-header .header-input input,
.public-header-2 .header-input input {
  width: 90%;
  height: 25px;
  font-size: 14px;
  border: none;
}
.public-header-2 {
  transform: translate3d(101%, 0px, 0px);
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  z-index: 14px;
}
.public-header-on {
  transform: translate3d(0px, 0px, 0px) translateZ(0px);
}
/***
 * 头部菜单
 */
.header-menu {
  position: fixed;
  top: -185px;
  z-index: 12;
  width: 100%;
  height: auto;
  background-color: #ffffff;
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}
.header-menu .menu-content {
  height: 45px;
  line-height: 45px;
  text-align: center;
  border-bottom: 1px solid #efefef;
}
.header-menu .menu-content a {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 14px;
}
.header-menu-on {
  transform: translate3d(0px, 230px, 0px) translateZ(0px);
}
/***
 * 蒙层
 */
.PopUp-layer {
  width: 100%;
  height: 100%;
  background-color: rgba(48, 48, 48, 0.5);
  position: fixed;
  top: 45px;
  z-index: -11;
  display: none;
}
.PopUp-layer-on {
  display: block;
  z-index: 11;
}
/***
 * 搜索层
 */
.search-layer {
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 45px;
  z-index: 14;
  transform: translate3d(101%, 0px, 0px);
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}
.search-layer ul {
  margin-top: 65px;
}
.search-layer ul li {
  width: 100%;
  height: 30px;
  line-height: 30px;
  text-align: center;
}
.search-layer ul li:first-child {
  height: 45px;
  line-height: 45px;
}
.search-layer ul li:first-child h2 {
  font-size: 15px;
  font-weight: normal;
}
.search-layer ul li a {
  color: #0db252;
}
.search-layer-on {
  transform: translate3d(0px, 0px, 0px) translateZ(0px);
}
