.module{
    height: 80px;
    padding: 10px 0;
    background-color: rgb(255,255,255);
    .review,.project,.leaderboard,.category{
        flex: 25%;
        height: 100%;
        text-align: center;
        .icon{
            width: 51px;
            height: 51px;
            line-height: 51px;
            font-size: 20px;
            margin: 0 auto;
            border: 1px solid rgb(51,51,51);
            margin-bottom: 7px;
        }
    }
}

/***
 * 应用推荐
 */
.category-floor{
    width: 100%;
    height: auto;
    background-color: rgb(255,255,255);
    margin-top: 10px;
    .title{
        height: 45px;
        line-height: 45px;
        padding: 0 15px;
        border-bottom: 1px solid rgb(239,239,239);
        overflow: hidden;
        .text{
            float: left;
        }
        .show{
            float: right;
            font-size: 14px;
            color: #808080;
        }
    }
    .content{
        padding: 15px 0;
        overflow: hidden;
        .floor-content{
            overflow: hidden;
            .swiper-wrapper{
                padding: 1px 0;
                .swiper-slide{
                    height: 85px;
                    width: 60px;
                    margin-right: 13px;
                    box-shadow: 0 0 0.05rem 0 rgba(0,0,0,.16);
                    padding: 12px;                 
                    &:last-child{
                        margin-right: 0px;
                    }
                    img{
                        height: 60px;
                        width: 100%;
                        border-radius: 15px;
                        margin-bottom: 5px;
                    }
                    span{
                        display: block;
                        width: 100%;
                        text-align: center;
                        overflow: hidden;
                        text-overflow:ellipsis;
                        white-space: nowrap;
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

/***
 * 专题广告
 */
.category-floor{
    .content{
        padding: 15px;
        .others-content{
            overflow: hidden;
            .swiper-wrapper{
                padding-bottom: 20px;
                .swiper-slide{
                    width: 225px;
                    height: 105px;
                    margin-right: 10px;
                    img{
                        width: 100%;
                        border-radius: 5px;
                    }
                }
            }
        }
    }
}
